<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/da9d1255-3786-4748-9a85-1ab534f85f82/resourcegroups/AlexResourceGroup/providers/Microsoft.Web/sites/AlexFirstContainerApp</ResourceId>
    <ResourceGroup>AlexResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://alexfirstcontainerapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/da9d1255-3786-4748-9a85-1ab534f85f82/resourcegroups/AlexResourceGroup/providers/Microsoft.ContainerRegistry/registries/registry20181003114929</ContainerResourceId>
    <ContainerResourceName>registry20181003114929</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20181003114929.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bf44786c-9323-4311-849b-c87ca700efc6</ProjectGuid>
  </PropertyGroup>
</Project>